<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-06I9zcv2X6E5/5g5+BCk/1aI/MInn/1alHUzmFNr3b7cxyG9mMcXEkCExsy2Jl//E+LfYwnyXR07fKVpO/tvqg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Weather App</h1>
        <form action="/" method="POST">
            <input type="text" name="city" placeholder="Enter city name">
            <button type="submit">Get Weather</button>
        </form>
        {% if weather_data %}
        <div class="weather-data">
            <div class="weather-info">
              <div class="weather-icon">
                <img src="{{ icon_url }}" alt="{{ weather_data['description'] }}" />
            </div>
            
                <div class="weather-description">
                    {{ weather_data['description'] }}
                </div>
            </div>
            <div class="weather-details">
                <div class="weather-detail">
                    <div class="detail-label">Temperature:</div>
                    <div class="detail-value">{{ weather_data['temperature'] }}°C</div>
                </div>
                <div class="weather-detail">
                    <div class="detail-label">Humidity:</div>
                    <div class="detail-value">{{ weather_data['humidity'] }}%</div>
                </div>
                <div class="weather-detail">
                    <div class="detail-label">Wind Speed:</div>
                    <div class="detail-value">{{ weather_data['wind_speed'] }} km/h</div>
                </div>
                <div class="weather-detail">
                    <div class="detail-label">Sunrise:</div>
                    <div class="detail-value">{{ weather_data['sunrise'] }}</div>
                </div>
                <div class="weather-detail">
                    <div class="detail-label">Sunset:</div>
                    <div class="detail-value">{{ weather_data['sunset'] }}</div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</body>
<footer>
    <p>Made by Yash Triyar with help from ChatGPT</p>
    <div class="contact-links">
      <a href="https://www.linkedin.com/in/yash-triyar/" target="_blank"><i class="fab fa-linkedin"></i></a>
      <a href="https://github.com/yashtriyar" target="_blank"><i class="fab fa-github"></i></a>
      <a href="mailto:yashtriyar@gmail.com"><i class="far fa-envelope"></i></a>
    </div>
    
  </footer>
  
</html>