<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-06I9zcv2X6E5/5g5+BCk/1aI/MInn/1alHUzmFNr3b7cxyG9mMcXEkCExsy2Jl//E+LfYwnyXR07fKVpO/tvqg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Weather App</title>
  </head>
  <body>
    <div class="container">
      <div class="card my-5">
        <div class="card-body">
          <h1 class="card-title text-center">Weather for {{ weather.city }}</h1>
          <div class="weather-card">
            <img class="weather-icon" src="http://openweathermap.org/img/wn/{{ weather.icon }}.png" alt="Weather Icon">
            <div class="weather-info">
              <div class="weather-city">{{ weather.city }}</div>
              <div class="weather-description">{{ weather.description }}</div>
              <div class="weather-temperature">{{ weather.temperature }}°C</div>
              <div class="weather-humidity">Humidity: {{ weather.humidity }}%</div>
              <div class="weather-wind">Wind speed: {{ weather.wind_speed }} m/s</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <footer>
    <p>Made by Yash Triyar with help from ChatGPT</p>
    <div class="fa-icons">
      <a href="https://www.linkedin.com/in/yash-triyar/" target="_blank"><i class="fab fa-linkedin"></i></a>
      <a href="https://github.com/yashtriyar" target="_blank"><i class="fab fa-github"></i></a>
      <a href="mailto:yashtriyar@gmail.com"><i class="far fa-envelope"></i></a>
    </div>
    
  </footer>
  
</html>
